
@{
    ViewData["Title"] = "Autor";
}


<div class="column">
    <div class="card">
        <div class="container">
            <h2>Domagoj Hamzić</h2>
            <p class="title">Razvojni programer</p>
            <p>Student na Fakultetu Organizacije i Informatike, Varaždin.</p>
            <p>dhamzic@foi.hr</p>
        </div>
    </div>
</div>
